<div class="footer">
<div class="container">
<div class="one1">
    <h3>Who We Are</h3>
    <ul>
        <li><a>About Us</a></li>
        <li><a>Mission,Vission & Goals</a></li>
        <li><a>Our Message</a></li>
        <li><a>Board of Trustees</a></li>
        <li><a>FAQ's</a></li>
    </ul>
</div>
<div class="one1">
    <h3>What We do</h3>
    <ul>
        <li><a>Research</a></li>
        <li><a>Programmes</a></li>
        <li><a>Collaborations</a></li>
        <li><a>in2Hc</a></li>
    </ul>

</div>
<div class="one1">
    <h3>Get Involved</h3>
    <ul>
        <li><a>Donate</a></li>
        <li><a>Partners</a></li>
    </ul>
</div>
<div class="one1">
    <h3>Get Involved</h3>
    <ul>
        <li><a>Photo Gallery</a></li>
        <li><a>Video Gallery</a></li>
        <li><a>Social Media Hub</a></li>
        <li><a>Events</a></li>
    </ul>
</div>
<div class="one1">
    <h3>Contact Us</h3>
    <ul>
        <li><a>Contact Details</a></li>
        <li><a>Careers</a></li>
        <li><a>Subscribe to our Newsletter</a></li>
    </ul>
    <div class="input-field">
    <input placeholder="Enter Your Email">
</div>
<div class="Subscribe-btn">
    <button>Subscribe</button>
</div>
</div>
<div class="clearfix"></div>
</div>
</div>
<div class="footer2">
    <div class="container">
    <div class="privacy-icons">
        <ul>
            <li><a>Terms & Conditions |</a></li>
            <li><a>Privacy Policy |</a></li>
            <li><a>User Agreement |</a></li>
            <li><a>Sitemap</a></li>

        </ul>
    </div>
    <div class="Copyright-p">
        <p>Copyright 2016 LinkDev. All Rights Reserved.</p>
    </div>
    <div class="clearfix"></div>
</div>
</div>