<div class="navbar sticky-top" id="navbar">
<div class="container">
<div class="logo">
    <img src="assets/images/logo.png">
</div>
<div class="icons">
    <div class="first-icon">
    <ul>
        <li>REGISTER</li>
        <li>|</li>
        <li>LOGIN</li>
        <div class="clearfix"></div>
    </ul>
</div>
<div>
    <ul>
        <li>EN</li>
        <li>Ar</li>
        <li>|</li>
        <li><span>A</span>A</li>
        <div class="clearfix"></div>
    </ul>
</div>

</div>
<!-- <div class="clearfix"></div> -->
    </div>
    <div class="nav2">
    <div class="container">
        <div class="icons1">
                <ul class="displayedList" id="displayedList">
                <li><a routerLink="">Home</a></li>
               
                <li><a routerLink="/release">All News</a></li>
            </ul>
        </div>

        <div class="clearfix"></div>
    </div>
</div>

</div>