  <div class="home-slider">
    <div class="scroll-down">
      <a href="#about"></a>
      <div class="mousey">
        <div class="scroller"></div>
      </div>
    </div>
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
      <div class="slider">
        <h1>
          <span>
            Al Jalila Foundation
          </span>
          is focused on inspiring the next generation of Emirati Healthcare professionals in the UAE.
        </h1>
        <div class="btn-class">
          <a class="custom-btn transparent">
            READ MORE
          </a>
          <a class="custom-btn btn-bg">
            DONATE NOW
          </a>
        </div>
      </div>      
    </ng-template>  
    <ng-template carouselSlide>      
      <div class="slider">

        <h1>
          <span>
            Al focused Foundation
          </span>
          is focused on inspiring the next generation of Emirati Healthcare professionals in the UAE.
        </h1>
        <div class="btn-class">
          <a class="custom-btn transparent">
            READ MORE
          </a>
          <a class="custom-btn btn-bg">
            DONATE NOW
          </a>
        </div>
      </div>
        </ng-template>  
    <ng-template carouselSlide>
      <div class="slider">

        <h1>
          <span>
            Al generation Foundation
          </span>
          is focused on inspiring the next generation of Emirati Healthcare professionals in the UAE.
        </h1>
        <div class="btn-class">
          <a class="custom-btn transparent">
            READ MORE
          </a>
          <a class="custom-btn btn-bg">
            DONATE NOW
          </a>
        </div>
      </div>    </ng-template>  
  </owl-carousel-o>
</div>

<!-- start about -->
<div class="about" id="about">
<div class="container">
  <div class="about-para">
  <h3>How we have helped</h3>
  <p>See how Al Jalila Foundation have promoted change locally and to the world
  </p>
</div>

<div class="row no-gutter">
  <div class="col-md-1"></div>
  <div class="col-md-10">
  <owl-carousel-o [options]="customOptions2">
    <ng-template carouselSlide>
      <div class="slider">
          <div class="about-widget__icon">
            <img src="../../assets/images/icons/about-icon.svg" alt="icon">
          </div>
          <div class="content">

        <h3 class="h31">TA'ALOUF PROGRAM</h3>
        <h3 class="h32">200</h3>
        <p>GRADUATES TO DATE</p>
        <p>ta"alouf program aims to extend its reach across
          the Emirates addressing the needs of the country
        </p>
      </div></div>
      <!-- </div>      -->
    </ng-template>  
    <ng-template carouselSlide>      
      <div class="slider">
        <div class="about-widget__icon">
          <img src="../../assets/images/icons/about-icon.svg" alt="icon">
        </div>
        <div class="content">

      <h3 class="h31">TA'ALOUF PROGRAM</h3>
      <h3 class="h32">200</h3>
      <p>GRADUATES TO DATE</p>
      <p>ta"alouf program aims to extend its reach across
        the Emirates addressing the needs of the country
      </p>
    </div></div>
        </ng-template>  
    <ng-template carouselSlide>
      <div class="slider">
        <div class="about-widget__icon">
          <img src="../../assets/images/icons/about-icon.svg" alt="icon">
        </div>
        <div class="content">

      <h3 class="h31">TA'ALOUF PROGRAM</h3>
      <h3 class="h32">200</h3>
      <p>GRADUATES TO DATE</p>
      <p>ta"alouf program aims to extend its reach across
        the Emirates addressing the needs of the country
      </p>
    </div>  </div> 
     </ng-template>  
     <ng-template carouselSlide>
      <div class="slider">
        <div class="about-widget__icon">
          <img src="../../assets/images/icons/about-icon.svg" alt="icon">
        </div>
        <div class="content">
      <h3 class="h31">TA'ALOUF PROGRAM</h3>
      <h3 class="h32">200</h3>
      <p>GRADUATES TO DATE</p>
      <p>ta"alouf program aims to extend its reach across
        the Emirates addressing the needs of the country
      </p>
    </div>  
  </div> 
     </ng-template>  
  </owl-carousel-o>
</div>
<div class="col-md-1"></div>
</div>
</div> 
</div>



<!-- end about -->

<!-- start Investments -->
<div class="Investments">
  <div class="container">
<div class="Investments-para">
<h3>Today’s Investments, Tomorrow’s Cures</h3>
<p>Support the different programs we have below</p>
</div>
<div class="ones">
<div class="one">
  <div class="inner">
 <img src="assets/images/icons/icon1.svg">
 <h4>Ta'alouf</h4>
 <span>+</span>
</div>
</div>
<div class="one">
  <div class="inner">
  <img src="assets/images/icons/icon2.svg">
  <h4>A'awen</h4>
  <span>+</span>

</div>
</div>
<div class="one">
  <div class="inner">
  <img src="assets/images/icons/icon3.svg">
  <h4>Zakat</h4>
  <span>+</span>
</div>
</div>
<div class="one">
  <div class="inner">
  <img src="assets/images/icons/icon4.svg">
  <h4>Foundation</h4>
  <span>+</span>
</div>
</div>
<div class="clearfix"></div>
<div class="two">
  <div class="inner">
  <img src="assets/images/icons/icon5.svg">
  <h4>Omniyat Dania</h4>
  <span>+</span>
</div>
</div>
<div class="three">
  <div class="inner">
  <img src="assets/images/icons/icon6.svg">
  <h4>Medical Research</h4>
  <span>+</span>
</div>
</div>
<div class="four">
  <div class="inner">
  <img src="assets/images/icons/about-icon.svg">
  <h4>Scholarships</h4>
  <span>+</span>
</div></div>
<div class="clearfix"></div>
</div></div>
</div>
<!-- end Investments -->
<!-- start latest -->

<div class="latest">
  <div class="container">
  <div class="latest-para">
<p>Our latest</p>
<h3>Press Releases</h3>
</div>
<div class="row no-gutters">
  <div *ngFor="let news of News;  let i = index" class="news col-md-3">
    <div class="news-card">
      <a routerLink='/release' class="text-light">
      <!-- <img [src]="news.urlToImage"> -->
      <img [src]="news.urlToImage" *ngIf="news.urlToImage">
      <img src="assets/images/default.png" *ngIf="!news.urlToImage">
       <div class="news-desc">
        <h2 class="">{{news.day}}
        </h2>
        <h4 class="">{{news.month}}</h4>
        <p class="">{{news.dayName}} {{news.year}}</p>
        <p class="">
          {{news.title}}
        </p>
        <a [routerLink]="['/releaseDetails',i]"><button>Read More</button></a>
       </div>
       </a>
    </div>
  </div>
 
</div>

</div>
</div>





<!-- end latest -->